[access]
	inheritFrom = All-Projects
[access "refs/for/refs/*"]
	read = group Open Trust Group Taiwan
	label-Code-Review = -2..+2 group Open Trust Group Taiwan
	rebase = group Open Trust Group Taiwan
	removeReviewer = group Open Trust Group Taiwan
	submit = group Open Trust Group Taiwan
	label-Verified = -1..+1 group user/opentrust-bot
[access "refs/heads/*"]
	read = group Open Trust Group Taiwan
	create = group Open Trust Group Taiwan
	push = group Open Trust Group Taiwan
	pushMerge = group Open Trust Group Taiwan
[access "refs/tags/*"]
	push = +force group Open Trust Group Taiwan
[submit]
	action = fast forward only
	mergeContent = false
[access "refs/*"]
	owner = group Open Trust Group Taiwan
